button{
 width: 100%;
 height: 150px;
 border: none;
 font-size: 100px;
 color:white;
 position: relative;
}
.clicked{
 background-color: #FA9D25;
}
.casilla{
 background-color: #3FCFC7;
}
.casilla:hover {
 background-color: #ECF834;
}
.nuevo{
	display: inline-block;
	background-color: #ecf834;
	font-size: 20px;
	padding: 1%;
	border-radius: 3px;
	margin-bottom: 2%;
	text-decoration: none;
}
@media screen and (max-width:768px) {
	button{
		width:100px;
	}
}